{%extends 'base.html'%}
{%block body_block%}

    <div class="container d-flex justify-content-content mt-5">
        <div class="card" style="width: 18rem;">
          {%if data.picture%}
           <img src="{{data.picture.url}}"

          {%endif%}
            <div class="card-header">
             Name {{data.name}}
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Price:{{data.price}}</li>
              <li class="list-group-item">Brand:{{data.brand}}</li>
              <li class="list-group-item">Specification:{{data.specs}}</li>
              <li class="list-group-item">Display:{{data.display}}</li>
            </ul>
          </div>
        

        

        

        

    </div>
    


{%endblock%}